# Virtual Environments
venv/
env/
.venv/
__pycache__/
lib/

# Dynamic Output Files (State & Cache)
*.json
*.html
!README.html

# Database Files
*.db
*.db-shm
*.db-wal

# IDEs and OS files
.vscode/
.idea/
.DS_Store
